div:not(.Project)>a>i {
    font-size: 2.5em;

    transition: font-size .2s;
}

div:not(.Project)>a>i {
    color: #FFDD1B;

    &:hover {
        cursor: pointer;
        color: #FFFFFF;
        animation: neon 1.5s ease-in-out infinite alternate;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
}