@import url(//fonts.googleapis.com/css?family=Vibur);

h1 {
    font-family: "Vibur";
    font-size: 3.5em;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}