@font-face {
    font-family: NeonTubes;
    src: url('./fonts/neontubes.otf') format("opentype");
}

@font-face {
    font-family: Newon;
    src: url('./fonts/Newon.otf') format("opentype");
}

.Project {
    transform: scale(.98);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);

    transition: .2s all;
}

.Project:hover {
    transform: scale(1);
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.ProjectTitle {
    font-size: 22px;
}

.ProjectTech {
    font-size: 15px;
}

.ProjectTitle,
.ProjectTitle:hover,
.ProjectDescription,
.ProjectDescription:hover,
.ProjectTech,
.ProjectTech:hover {
    text-decoration: none;

    color: white;
}

.ProjectImage {
    width: 100%;
    height: 100%;
}

.ProjectImage>img {
    filter: brightness(100%);

    transition: filter .2s;
}

.ProjectGithubLink {
    position: absolute;
    top: 0;
    right: 0;

    z-index: 1;

    font-size: 35px;
}

.ProjectGithubLink,
.ProjectGithubLink:hover {
    color: white;
}

.Project>a:not(.ProjectImage) {
    visibility: hidden;
    opacity: 0;

    transition: opacity .2s, visibility .2s;
}

.Project:hover>a:not(.ProjectGithubLink),
.Project>a:hover~a:not(.ProjectGithubLink) {
    visibility: visible;
    opacity: 1;
}

.Project:hover>.ProjectGithubLink,
.Project>a:not(.ProjectGithubLink):hover~a.ProjectGithubLink {
    visibility: visible;
    opacity: 1;
}

.Project:hover>.ProjectGithubLink:hover {
    visibility: visible;
    opacity: 1;

    animation: neon-white 1.5s ease-in-out infinite alternate;
}

.Project:hover img,
.Project>a:not(.ProjectImage):hover~a.ProjectImage>img,
.Project>a.ProjectImage:hover>img {
    filter: brightness(50%);
}

.MassMatchup,
.MassMatchup:hover {
    color: white;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px var(--neon-blue),
        0 0 82px var(--neon-blue),
        0 0 92px var(--neon-blue),
        0 0 102px var(--neon-blue),
        0 0 151px var(--neon-blue);
}

.ProjectTitle.MassMatchup {
    font-family: NeonTubes;
}

.ProjectTech.MassMatchup {
    font-family: Newon;
}

@keyframes neon-white {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
}

/* 
 *  Make it so the projects are "hovered"  to display the github link and project descriptions on tablet 
 *  resolutions and below since tablets and mobile devices don't use mice.
 */
@media (max-width: 768px) {
    .ProjectImage>img {
        filter: brightness(50%);
    }

    .Project>a:not(.ProjectImage) {
        visibility: visible;
        opacity: 1;
    }

    .Project:hover>.ProjectGithubLink,
    .Project>a:not(.ProjectGithubLink):hover~a.ProjectGithubLink {
        opacity: 1;
    }
}