/* Import all of the customized Bootstrap SASS */
@import "./scss/custom.scss";

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@font-face {
  font-family: Tonight;
  src: url('./components/fonts/Tonight.ttf') format("truetype");
}

:root {
  --blue-yonder: #4f759b;
  --neon-blue: #04d9ff;
  --neon-yellow: #ccff15;
  --neon-red: #ff4444;
  --opal: #a3c4bc;
  --raisin-black: #201e1f;

  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  --taupe-gray: #9a8f97ff;
  --pale-silver: #c3babaff;
  --platinum: #e9e3e6ff;
  --silver-chalice: #b2b2b2ff;
  --uranian-blue: #bde0feff;
  --baby-blue-eyes: #a2d2ffff;
  --space-cadet: #2b2d42ff;

  --neon-text-color: #f40;
  --neon-border-color: #08f;

  --neon-purple: #ab04ff;
}

body {
  background: url('./components/img/rain-on-glass.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }

/* 
 *  Make the section take up the whole vertical space - (header height + footer height + section top and bottom margins)
 *  so that the footer sticks to the bottom of the page but scrolls with the content.
 */
main {
  min-height: calc(100vh - 273px);
}

/* Add a frosted glass effect to each content section */
section {
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* Add box-shadow for more depth */
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.15);
  // background-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(228, 228, 228, 0.2);
}

p,
label {
  color: white;
}

h2 {
  font-family: "Vibur";
  font-size: 2.75em;
  // text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #08f, 0 0 0.5em #08f, 0 0 0.1em #08f, 0 10px 3px black;
  // color: white;
  // text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  // color: #fff6a9;
  color: azure !important;
  text-shadow:
    0 0 10px azure,
    0 0 20px aqua,
    0 0 40px dodgerblue,
    0 0 80px blue,
    0 10px 3px black;
}

.blue-glow-btn {
  color: black;
  background: #04d9ff !important;
  transition: 0.2s;
  border: solid 1px #04d9ff;
}

.blue-glow-btn:hover,
.blue-glow-btn:active,
.blue-glow-btn:focus-visible {
  background: #04d9ff !important;
  color: black !important;
  border: solid 1px #04d9ff !important;
  box-shadow: 0 0 5px azure, 0 0 25px aqua, 0 0 50px dodgerblue, 0 0 200px blue !important;
  // box-shadow: 0 0 5px #04d9ff, 0 0 25px #04d9ff, 0 0 50px #04d9ff, 0 0 200px #04d9ff !important;
}

@media (max-width: 992px) {
  h2 {
    font-size: 2.25em;
  }
}