/*
 *  This file modifies the default Bootstrap SASS variables to my own custom theme.
 *  See https://getbootstrap.com/docs/5.2/customize/sass/ for details.
 *
 *  I feel like Bootstrap always touts how easy it is to customize their themes using SASS, but to do that
 *  you have to import all of their source code, install a sass compiler, and use an autoprefixer to have it work.
 *  That sounded like to much trouble for me in my earlier projects, but since I'm importing all the Bootstrap
 *  source files into this project I felt like it was a good time to experiment with Bootstrap SASS customization
 *  and how it works.
 */

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// @import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$secondary: #f8f9faff;
$navbar-light-color: white;
$navbar-light-hover-color: white;
$navbar-light-active-color: white;
$nav-link-font-size: 2em;
$nav-link-font-weight: 'bold';
$nav-link-hover-color: white;

@import "~bootstrap/scss/bootstrap";

// 3. Include remainder of required Bootstrap stylesheets
// @import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
// @import "~bootstrap/scss/maps";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/helpers";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here